src/main/mule/calculator.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="ICalculator" service="CalculatorService" wsdlLocation="calculator.wsdl"/>
    <api-gateway:autodiscovery apiId="18739876" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="0db2ab22-22b0-4b53-9931-2410ecbedbfe" flowRef="api-main" />
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/CalculatorService/ICalculator">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
		<error-handler ref="global-error-handler" />
    </flow>
    <flow name="Add:\soapkit-config">
        <logger level="INFO" doc:name="Logger" doc:id="514bca9b-58fc-4b4f-b618-5b6860ce141d" message='#["Add subflow started"]'/>
		<ee:transform doc:name="Send user response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://localhost
---
{
    body: {
        ns0#AddResponse: {
        	ns0#result: (
        		(payload.body.ns0#Add.ns0#a as Number) +
        		(payload.body.ns0#Add.ns0#b as Number)
        	)
}
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a4c2b73b-bdc3-4558-a9d6-e8e2eaac4a17" message='#["Add subflow Ended"]'/>
		<error-handler ref="global-error-handler" />
    </flow>

</mule>
